/* Global Styles */
:root {
    --primary-color: #9cdb14;
    --secondary-color: #27323a;
    --background-color: #ebebeb;
    --text-color: #000000;
  }
  
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* Header and Navigation */
header {
  background-color: var(--primary-color);
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--secondary-color);
}

/* Main Content */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.content {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

/* Intro Section */
.intro {
  max-width: 800px;
  margin: 0 auto 40px;
  text-align: center;
}

.intro img {
  max-width: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-item .content img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CTA Button */
.cta-button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #2980b9;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  main {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .intro img {
    max-width: 200px;
  }
}

